# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
.envrc

# Editors/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build/Dist
build/
dist/
*.egg-info/
.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/

# Logs
*.log
logs/
